# Copy this file to device_secrets.config (same folder) and fill in ONE row from your license sheet.
# Use only ONE uuid+key pair per physical board. Keep the second row for a spare board or backup.
#
# NEVER commit device_secrets.config to git.

CONFIG_TUYA_PRODUCT_ID="d8vyu8pererkd5nx"
CONFIG_TUYA_DEVICE_UUID="paste-uuid-from-column-A-here"
CONFIG_TUYA_DEVICE_AUTHKEY="paste-key-from-column-B-here"
